body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: lightgoldenrodyellow /* light background */
}

.app-container {
  padding: 20px;
}
.app-container h1{
    color:black;
    font-style: italic;
}

.products-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.product-card {
  background-color: #ffffff; /* card background */
  border-radius: 10px;
  width: 220px;
  padding: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.product-card img {
  height: 120px;
  object-fit: contain;
  margin-bottom: 10px;
}

.product-card h2 {
  font-size: 16px;
  margin: 10px 0;
}

.product-card p {
  font-size: 18px;
  font-weight: bold;
  color: #2e7d32; 
}